/*Essential block*/

.clean-side-padding
    padding-left: 0
    padding-right: 0

#navbar
    margin-top: 0
    +above(768px)
        display: none

#user-login
    +centerblock(50%)
    border-radius: 10px
    border: 1px solid #cacaca
    padding: 20px
    .form-actions
        text-align: center
        .form-submit
            display: inline-block

.menu-onpage
    +posfix1(25px,0)
    z-index: 9999
    opacity: 0.7
    .menu > li
        .dropdown-toggle
            +size(50px,50px)
            +bgnorep-cc("cogadmin.svg")
            background-size: auto,100%
            background-color: #fff
            border: 1px solid #cacaca
            border-radius: 0 5px 5px 0
            box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
            cursor: pointer
.block-masquerade
    +posfix4(25px, -150px)
    +bgnorep-rc("masquerade.svg")
    background-size: auto 100%
    width: 200px
    box-sizing: border-box
    border: 1px solid #cacaca
    background-color: #fff
    padding: 5px 5px 5px 5px
    border-radius: 0 5px 5px 0
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5)
    opacity: 0.7
    z-index: 9999
    .container-inline,
    .placeholder
        +hide
    ul
        +nopadmar
        li
            display: inline-block
            list-style: none
.bootstrap-slideshow
    p
        margin-bottom: 10px
    ol
        bottom: 10px
        li
            width: 12px
            height: 12px
            margin: 0 5px
            &.active
                margin: 0 5px

.block
    .block-title
        +common-block-title

#admin-menu,
.logoblock,
.menuchinh
    +below($breakpoint2)
        +hide

/*Essential blocks END*/

.menuchinh
    .sf-menu
        a
            padding: 0 15px
            font: 15px/40px $gilroybold
            text-transform: uppercase
        /* Menu cấp 1*/
        li.sf-depth-1
            & > a
                transition: background-color 0.5s
            &.first
            &.last
            &.active-trail,
            &:hover
                & > a
                    text-decoration: none
                    color: #fff !important
                    background: $color-primary
                & > ul
                    opacity: 1
            a.sf-depth-1
                color: $color-primary

            /*Menu cấp 2*/
            & > ul
                top: 40px
                background: $color-primary
                /*Fix superfish submenu show up while load waiting*/
                opacity: 0 !important
                border-radius: 0 0 20px 0
                li.sf-depth-2
                    a.sf-depth-2
                        color: #fff
                        text-transform: none
                        font-size: 14px
                        &:hover
                            background: rgba(0,0,0,0.2)
                            text-decoration: none
                    &.last
                        a
                            border-radius: 0 0 20px 0
                    /*Menu cấp 3*/
                    & > ul
                        background: $color-primary
                        li.sf-depth-3
                            box-sizing: border-box
                            a.sf-depth-3
                                color: #fff

.home-slideshow
    .view-content
        .views-slideshow-controls-top
            position: relative
            a
                +size(52px,52px)
                outline: none
                text-indent: -9999px
            .views-slideshow-controls-text-pause
                +hide
            .views-slideshow-controls-text-previous
                +posabs1(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-prev.svg")
            .views-slideshow-controls-text-next
                +posabs2(30px,15px)
                z-index: 100
                a
                    +bgnorep-cc("arrow-next.svg")
            .views-slideshow-pager-fields
                +flex-row
                +posabs1(0,0) /*Vị trí top của pager sẽ được điểu chỉnh bởi jquery*/
                justify-content: center
                width: 100%
                z-index: 100
                +below($breakpoint1)
                    +hide
                .views-slideshow-pager-field-item
                    +invisible-link-block
                    +bgnorep-cc("pager-circle.svg")
                    +size(15px,15px)
                    margin: 0 2px
                    cursor: pointer
                    opacity: 1
                    a
                        +size(100%,100%)
                    &.active
                        +bgnorep-cc("pager-circle-active.svg")
        .views_slideshow_cycle_main
            .views-slideshow-cycle-main-frame
                .views-slideshow-cycle-main-frame-row
                    position: relative
                    width: 100% !important
                    img
                        +image-responsive
                    .views-field-edit-node
                        top: 40px
                    .views-fieldset
                        +posabs4(20px,0)
                        +size(100%,120px)
                        padding: 15px
                        box-sizing: border-box
                        text-align: center
                        +below($breakpoint1)
                            position: relative
                            top: auto
                            height: auto
                        +below($breakpoint2)
                            +hide
                        .views-field-title
                            a
                                font: bold 15px $globalfont
                                color: $color-primary
                        .views-field-body
                            margin-top: 5px

.home-lienket
    background-color: #111
    .contextual-links-wrapper
        top: 85px
    .view-content
        +flex-row
        flex-wrap: nowrap
        .views-row
            cursor: pointer
            flex-basis: 33.33%
            height: 800px
            position: relative
            overflow: hidden
            &.expanded:hover
                .inside
                    transform: scale(1.03)
            +below($breakpoint2)
                width: 100%
            .title
                +posabs1(0,0)
                +size(100%,100%)
                text-align: center
                z-index: 12

                font: 50px/800px $gilroybold
                text-transform: uppercase
                color: #fff

                a
                    font: 50px/200px $gilroybold
                    width: 100%
                    text-transform: uppercase
                    color: #fff
                    background: rgba(0,0,0,0)
                    &:hover
                        text-decoration: none
            .black
                +posabs1(0,0)
                +size(100%,100%)
                background: rgba(0,0,0,1)
                opacity: 0.3
                z-index: 10
            .inside
                +posabs1(0,0)
                +size(100%,100%)
                background-size: cover
                background-position: center center
                z-index: 9
            &.expanded
                .inside
                    transition: transform 8s
.footerinfo-contact
    .block-title
        +nopadmar
        border-bottom: 2px solid $color-primary !important
        font: bold 30px/60px $gilroybold
        color: $color-primary
    .view-content
        padding-top: 20px
        .views-row
            .name
                +bgnorep-lc("icon_human.svg")
            .phone
                +bgnorep-lc("icon_phone.svg")
            .mail
                +bgnorep-lc("icon_mail.svg")
            p
                padding-left: 25px
                background-size: 20px auto !important
                margin: 0 0 10px

.menufooter
    .block-title
        +nopadmar
        border-bottom: 2px solid $color-primary !important
        font: bold 30px/60px $gilroybold
        color: $color-primary
    .menu
        margin-top: 10px
        li
            +nopadmar
            list-style: disc
            a
                +nopadmar
                font: 15px/30px $globalfont
                display: inline-block
                color: $color-primary
                &:hover
                    background: none
                    text-decoration: underline

.maintenance-message
    +posfix4(5px,5px)
    background: red
    color: #fff
    z-index: 999
    opacity: 0.5
    padding: 5px


/*CSS DANH CHO NHAT TRUONG PHAT*/

.mangxahoi
    .view-content
        +flex-row
        flex-wrap: nowrap
        +below($breakpoint2)
        .views-row
            +size(60px,auto)
            padding: 0 5px

.logoblock

.home-thuvien,
.home-tintuc
    &>.title
        +common-section
        text-transform: uppercase
        position: relative
        height: 80px
        margin: 30px auto 20px
        .text
            +posabs1(0,0)
            font: 40px/80px $gilroybold
            background: #fff
            color: $color-primary
            z-index: 2
            padding-right: 20px
        .line
            +posabs1(0,0)
            +size(100%,40px)
            border-bottom: 2px solid $color-primary
            z-index: 1
            
    .content
        +bgnorep-cc("starlakebg.jpg")
        background-size: cover
        background-attachment: fixed
        clear: both
        padding: 50px 0
        overflow: hidden

.home-video
    +common-section
    .view-content
        .views-row
            .infogroup
                +leftblock(40%)
                padding-right: 50px
                .views-field-title
                    font: 35px/45px $gilroybold
                    color: #fff
                    text-transform: uppercase
                .views-field-body-1
                    margin-top: 30px
                    font: 14px/25px $globalfont
                    color: #fff
                .views-field-nothing
                    margin-top: 30px
                    a
                        font: bold 14px $globalfont
                        color: #fff
            .views-field-body
                +leftblock(60%)
                iframe
                    +size(100%,400px)
                    border: 4px solid #fff

.home-album
    +common-section
    margin-top: 40px
    .view-content
        +flex-row-space-between
        .views-row
            width: 31%
            .title
                text-align: center
                a
                    font: 25px $gilroybold
                    color: #fff
                    text-transform: uppercase
                    &:hover
                        text-decoration: none
            .views-field-field-image
                margin-top: 10px
                border: 5px solid #fff
                transition: transform 0.5s
                &:hover
                    transform: scale(1.03)

.home-tinmoinhat
    +common-section
    .view-content
        .slot
            h2
                width: 60%
                a
                    font: 35px/45px $gilroybold
                    color: #fff
                    text-transform: uppercase
                    &:hover
                        text-decoration: none
            p
                margin-top: 30px
                font: 14px/25px $globalfont
                color: #fff
                width: 40%
            & > a
                margin-top: 20px
                font: bold 15px $globalfont
                color: #fff
                text-transform: uppercase
                display: inline-block



.home-baiviet
    +common-section
    margin-top: 40px

.headerinfo
    .views-row
        font: 15px/33px $gilroybold
        color: #fff
        p
            margin: 0 0 0 20px
            display: inline-block

.baivietcungloai
    +bgnorep-tr("verticalshadow.png")
    background-size: 2px 100%
    padding-bottom: 80px
    .view-content
        .views-row
            h3
                +nopadmar
                a
                    font: 16px/50px $globalfont
                    border-bottom: 1px solid $color-border
                    color: $color-text
                    display: block
                    padding-left: 10px
                    transition: background-color 0.2s, color 0.2s, padding-left 0.2s
                    &.active
                        color: $color-primary
                    &:hover
                        text-decoration: none
                        background-color: $color-primary
                        color: #fff
                        padding-left: 20px