=common-section
    +centerblock($breakpoint0)
    clear: both
    +below($breakpoint2)
        width: 100%

=common-block-title
    font: normal 30px $gilroybold
    margin: 20px auto
    text-transform: uppercase
    border: none !important
    +below($breakpoint1)
        font-size: 20px
    a
        text-decoration: none
        &:hover
            color: $color-secondary
        +below($breakpoint1)
            font-size: 20px

=common-textform
    border: 1px solid $color-primary
    border-radius: 4px
    font: 14px $globalfont
    padding: 5px
    box-sizing: border-box

=common-submit-button
    padding: 5px 10px
    font: 14px $globalfont
    border: none
    border-radius: 3px
    color: #fff
    cursor: pointer
    background: darken($color-primary,20%)
    display: inline-block
