/*Trang chủ*/
.front
    .banner-top-content
        +posabs1(0,0)
        +size(100%,80px)
        z-index: 100
        background: rgba(255,255,255,0)
        border-bottom: 1px solid rgba(255,255,255,0.2) !important
        .menuchinh
            li.sf-depth-1
                &:hover
                    a
                        color: #fff !important
                a.sf-depth-1
                    color: #fff
                    &:hover
                        color: #fff !important
        &:hover
            .menuchinh
                a.sf-depth-1
                    color: $color-primary !important
    .content-container
        width: 100%
        padding-top: 0
        .region-home
            width: 100%
    .danhsachbaiviet
        .slot
            transition: transform 0.5s
            &:hover
                transform: scale(1.03)

/*Trang chi tiết bài viết*/
.node-type-article
    .node-article

/*Trang liên hệ*/
.page-node-9
    .node-webform
        .group-left,
        .group-right
            padding: 0 15px
            .field-name-body
                margin-bottom: 20px

//Trang tin tuc
.page-tin-tuc
    .content-left-column
        +hide
    .content-main-column
        flex-basis: 100% !important