.view
    .view-content,
    .slide__content
        .views-row,
        .slide__grid
            position: relative
        .views-field-edit-node,
        .views-field-edit-term
            +posabs1(5px,5px)
            +size(20px,20px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

        .views-field-delete-node
            +posabs1(5px,27px)
            +size(20px,20px)
            +bgnorep-cc("icon-delete.svg")
            +opacity-hover
            border-radius: 10px
            background-color: darken($color-primary, 30%)
            background-size: 60% 60%
            z-index: 1000
            a
                +invisible-link-block

.danhsachbaiviet
    .view-content
        +flex-row-space-between
        .slot
            width: 24%
            padding: 0 15px
            margin-bottom: 30px
            background: #fff
            padding: 10px

            +below($breakpoint2)
                +flex-column(1)
            .title
                margin-top: 20px
                a
                    font: bold 15px/20px $gilroybold
                    color: #575757
                    display: inline-block
                    &:hover
                        text-decoration: none
                        color: $color-text
            .date
                margin-top: 10px
                font: 13px/20px $globalfont