@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

a
    font: bold 14px $globalfont
    text-decoration: none
    color: $color-secondary
    outline: none
    &:hover
        color: lighten($color-primary,10%)

h1
    +common-block-title
h2,h3,h4
    font-family: $globalfont
    color: $color-primary

#admin-menu
    a
        font-size: 11px

body
    +nopadmar
    font: 14px/25px $globalfont
    color: $color-text
    .navbar
        margin-bottom: 0
        border: none
        .navbar-header
            .logo
        .navbar-nav
            margin: 0 -15px
    .breadcrumb
        margin-bottom: 0
    .header-container
        background: $color-secondary
        .region-header1
            +common-section
            text-align: right
            overflow: inherit
            padding: 0 15px
    .banner-container
        position: relative
        .banner-top-content
            border-bottom: 1px solid $color-primary
            .region-header2
                +common-section
                +flex-row-space-between
                align-items: flex-end
    .home-container
        +common-section
    
    .content-container
        +common-section
        padding-top: 40px
        +flex-row
        .content-left-column
            flex-basis: 25%
            padding-right: 40px
        .content-main-column
            flex-basis: 75%
            .breadcrumb
                +nopadmar
                background: none
            .tabs--primary
                padding: 0 15px
                border: none
                li
                    margin-right: 5px
                    border: none
                    a
                        font: normal 14px/25px $globalfont
                        padding: 0 10px
                        margin: 0
                        border: none
                    .active,
                    &:hover,
                    &:hover a,
                        border: none
                        background: $color-primary
                        color: #fff
                        border-radius: 5px
            .page-header
                +common-block-title
    .footer-container
        margin-top: 40px
        padding: 0px 0 60px
        border-bottom: 40px solid $color-secondary
        overflow: hidden
        clear: both
        .region-footer1
            +common-section
