/*block effects*/
=opacity-hover
	opacity: 0.8
	&:hover
        opacity: 1

=opacity-hover-value($start_value,$end_value)
	opacity: $start_value
	&:hover
        opacity: $end_value

=gradient-text
    /*Cần đặt dưới thuộc tính background: linear-gradient()*/
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
