#countdown
    +centerblock-h(465px,112px)
    margin: 20px auto
    text-align: center
    background: #222
    background-image: linear-gradient(top, #222, #333, #333, #222)
    border: 1px solid #111
    border-radius: 5px
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6)
    padding: 20px 0
    position: relative

    #tiles
        +flex-row-center
        position: relative
        box-sizing: border-box
        z-index: 1
        & > span
            width: 21%
            margin: 0 1.5%
            padding: 18px 0
            font: 48px "proximabold"
            text-align: center
            color: #111
            background-color: #ddd
            background-image: linear-gradient(top, #bbb, #eee)
            border-top: 1px solid #fff
            border-radius: 3px
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7)

    .labels
        +flex-row-center
        width: 100%
        text-align: center
        position: absolute
        bottom: 8px
        li
            +nopadmar
            width: 21%
            margin: 0 1.5%
            font: 15px "proximabold"
            color: #999
            text-shadow: 1px 1px 0px #000
            text-align: center
            text-transform: uppercase
            list-style: none
